/*** Fonts CSS ***/
@font-face
{
	font-family: "Chemy_Retro";
	src:	url("/fonts/Chemy_Retro.eot");
	src:	url("/fonts/Chemy_Retro.eot?#iefix") format("embedded-opentype"),
			url("/fonts/Chemy_Retro.woff2") format("woff2"),
			url("/fonts/Chemy_Retro.woff") format("woff"),
			url("/fonts/Chemy_Retro.ttf") format("truetype"),
			url("/fonts/Chemy_Retro.svg#Chemy_Retro") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Quiet_Evening";
	src:	url("/fonts/Quiet_Evening.eot");
	src:	url("/fonts/Quiet_Evening.eot?#iefix") format("embedded-opentype"),
			url("/fonts/Quiet_Evening.woff2") format("woff2"),
			url("/fonts/Quiet_Evening.woff") format("woff"),
			url("/fonts/Quiet_Evening.ttf") format("truetype"),
			url("/fonts/Quiet_Evening.svg#quiet_eveningregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Gismonda";
	src:	url("/fonts/Gismonda.eot");
	src:	url("/fonts/Gismonda.eot?#iefix") format("embedded-opentype"),
			url("/fonts/Gismonda.woff2") format("woff2"),
			url("/fonts/Gismonda.woff") format("woff"),
			url("/fonts/Gismonda.ttf") format("truetype"),
			url("/fonts/Gismonda.svg#gismonda_fgregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Fette_Mikado";
	src:	url("/fonts/Fette_Mikado.eot");
	src:	url("/fonts/Fette_Mikado.eot?#iefix") format("embedded-opentype"),
			url("/fonts/Fette_Mikado.woff2") format("woff2"),
			url("/fonts/Fette_Mikado.woff") format("woff"),
			url("/fonts/Fette_Mikado.ttf") format("truetype"),
			url("/fonts/Fette_Mikado.svg#fette_mikadoregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Zeldom_Zen";
	src:	url("/fonts/Zeldom_Zen.eot");
	src:	url("/fonts/Zeldom_Zen.eot?#iefix") format("embedded-opentype"),
			url("/fonts/Zeldom_Zen.woff2") format("woff2"),
			url("/fonts/Zeldom_Zen.woff") format("woff"),
			url("/fonts/Zeldom_Zen.ttf") format("truetype"),
			url("/fonts/Zeldom_Zen.svg#hff_zeldom_zenregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Valuable";
	src:	url("/fonts/Valuable.eot");
	src:	url("/fonts/Valuable.eot?#iefix") format("embedded-opentype"),
			url("/fonts/Valuable.woff2") format("woff2"),
			url("/fonts/Valuable.woff") format("woff"),
			url("/fonts/Valuable.ttf") format("truetype"),
			url("/fonts/Valuable.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Snickles";
	src:	url("/fonts/Snickles.eot");
	src:	url("/fonts/Snickles.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Snickles.woff2") format("woff2"),
	url("/fonts/Snickles.woff") format("woff"),
	url("/fonts/Snickles.ttf") format("truetype"),
	url("/fonts/Snickles.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Billy";
	src:	url("/fonts/Billy.eot");
	src:	url("/fonts/Billy.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Billy.woff2") format("woff2"),
	url("/fonts/Billy.woff") format("woff"),
	url("/fonts/Billy.ttf") format("truetype"),
	url("/fonts/Billy.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Happy_Fox";
	src:	url("/fonts/Happy_Fox.eot");
	src:	url("/fonts/Happy_Fox.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Happy_Fox.woff2") format("woff2"),
	url("/fonts/Happy_Fox.woff") format("woff"),
	url("/fonts/Happy_Fox.ttf") format("truetype"),
	url("/fonts/Happy_Fox.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Gunny_Rewritten";
	src:	url("/fonts/Gunny_Rewritten.eot");
	src:	url("/fonts/Gunny_Rewritten.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Gunny_Rewritten.woff2") format("woff2"),
	url("/fonts/Gunny_Rewritten.woff") format("woff"),
	url("/fonts/Gunny_Rewritten.ttf") format("truetype"),
	url("/fonts/Gunny_Rewritten.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Whatever";
	src:	url("/fonts/Whatever.eot");
	src:	url("/fonts/Whatever.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Whatever.woff2") format("woff2"),
	url("/fonts/Whatever.woff") format("woff"),
	url("/fonts/Whatever.ttf") format("truetype"),
	url("/fonts/Whatever.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Whatever_bold";
	src:	url("/fonts/Whatever_bold.eot");
	src:	url("/fonts/Whatever_bold.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Whatever_bold.woff2") format("woff2"),
	url("/fonts/Whatever_bold.woff") format("woff"),
	url("/fonts/Whatever_bold.ttf") format("truetype"),
	url("/fonts/Whatever_bold.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Mawns";
	src:	url("/fonts/Mawns.eot");
	src:	url("/fonts/Mawns.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Mawns.woff2") format("woff2"),
	url("/fonts/Mawns.woff") format("woff"),
	url("/fonts/Mawns.ttf") format("truetype"),
	url("/fonts/Mawns.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Calligrapher";
	src:	url("/fonts/Calligrapher.eot");
	src:	url("/fonts/Calligrapher.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Calligrapher.woff2") format("woff2"),
	url("/fonts/Calligrapher.woff") format("woff"),
	url("/fonts/Calligrapher.ttf") format("truetype"),
	url("/fonts/Calligrapher.svg#valuableregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family:'FontAwesome';
	src:	url("/fonts/Font_Awesome.eot");
	src:	url("/fonts/Font_Awesome.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Font_Awesome.woff2") format("woff2"),
	url("/fonts/Font_Awesome.woff") format("woff"),
	url("/fonts/Font_Awesome.ttf") format("truetype");
	url("/fonts/Font_Awesome.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Redressed';
	src:	url("/fonts/Redressed.eot");
	src:	url("/fonts/Redressed.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Redressed.woff2") format("woff2"),
	url("/fonts/Redressed.woff") format("woff"),
	url("/fonts/Redressed.ttf") format("truetype");
	url("/fonts/Redressed.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Lilly';
	src:	url("/fonts/Lilly.eot");
	src:	url("/fonts/Lilly.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Lilly.woff2") format("woff2"),
	url("/fonts/Lilly.woff") format("woff"),
	url("/fonts/Lilly.ttf") format("truetype");
	url("/fonts/Lilly.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Nothing';
	src:	url("/fonts/Nothing.eot");
	src:	url("/fonts/Nothing.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Nothing.woff2") format("woff2"),
	url("/fonts/Nothing.woff") format("woff"),
	url("/fonts/Nothing.ttf") format("truetype");
	url("/fonts/Nothing.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Champagne';
	src:	url("/fonts/Champagne.eot");
	src:	url("/fonts/Champagne.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Champagne.woff2") format("woff2"),
	url("/fonts/Champagne.woff") format("woff"),
	url("/fonts/Champagne.ttf") format("truetype");
	url("/fonts/Champagne.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Matro';
	src:	url("/fonts/Matro.eot");
	src:	url("/fonts/Matro.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Matro.woff2") format("woff2"),
	url("/fonts/Matro.woff") format("woff"),
	url("/fonts/Matro.ttf") format("truetype");
	url("/fonts/Matro.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Love_Trust';
	src:	url("/fonts/Love_Trust.eot");
	src:	url("/fonts/Love_Trust.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Love_Trust.woff2") format("woff2"),
	url("/fonts/Love_Trust.woff") format("woff"),
	url("/fonts/Love_Trust.ttf") format("truetype");
	url("/fonts/Love_Trust.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Architects_Daughter';
	src:	url("/fonts/Architects_Daughter.eot");
	src:	url("/fonts/Architects_Daughter.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Architects_Daughter.woff2") format("woff2"),
	url("/fonts/Architects_Daughter.woff") format("woff"),
	url("/fonts/Architects_Daughter.ttf") format("truetype");
	url("/fonts/Architects_Daughter.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Novita';
	src:	url("/fonts/Novita.eot");
	src:	url("/fonts/Novita.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Novita.woff2") format("woff2"),
	url("/fonts/Novita.woff") format("woff"),
	url("/fonts/Novita.ttf") format("truetype");
	url("/fonts/Novita.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family:'Kristen';
	src:	url("/fonts/Kristen.eot");
	src:	url("/fonts/Kristen.eot?#iefix") format("embedded-opentype"),
	url("/fonts/Kristen.woff") format("woff"),
	url("/fonts/Kristen.ttf") format("truetype");
	url("/fonts/Kristen.svg#valuableregular") format("svg");
	font-weight:normal;
	font-style:normal;
}
/*** END *** Fonts CSS ***/