/*** Footer CSS ***/
#footer
{
	height: 28px;
	text-align: center;
	color: #051EA3;
	background-color: #9EADA8;
	border-top: 2px groove #777;
	border-bottom: 1px groove #777;
	position: relative;
}

.footer_text
{
	color: #4D4D4D;
	font-family: "Zeldom_Zen", "Chemy_Retro", "Quiet_Evening", "Fette_Mikado", "Gismonda", "Valuable", "Times New Roman";
	font-size: 14px;
}

.footer_company_text, .footer_company_text a, .footer_company_text a:hover, .footer_company_text a:visited
{
	color: #051EA3;
	/*
		font-family: "Quiet_Evening", "Valuable", "Zeldom_Zen", "Chemy_Retro", "Fette_Mikado", "Gismonda", "Times New Roman";
		font-size: 16px;
		font-family: "Chemy_Retro", "Gismonda", "Quiet_Evening", "Valuable", "Zeldom_Zen", "Times New Roman";
		font-size: 13px;
	*/
	font-family: "Fette_Mikado", "Quiet_Evening", "Gismonda", "Chemy_Retro", "Valuable", "Zeldom_Zen", "Times New Roman";
	font-size: 20px;
	text-decoration: none;
}

#techno_link
{
	cursor: pointer;
}
/*** END *** Footer CSS ***/