/*** Header CSS ***/
#header
{
	height: 38px;
	width: 100%;
	text-align: right;
	vertical-align: middle;
	color: #051EA3;
	background-color: #E7FFF7;
}

.header_text
{
	color: #4D4D4D;
	font-family: "Valuable", "Gismonda", "Fette_Mikado", "Quiet_Evening", "Zeldom_Zen", "Chemy_Retro", "Times New Roman";
	font-size: 16px;
}

.header_name_text
{
	color: #051EA3;
	font-family: "Gismonda", "Zeldom_Zen", "Fette_Mikado", "Quiet_Evening", "Chemy_Retro", "Valuable", "Times New Roman";
	font-size: 18px;
}

.header_username_text
{
	color: #4D4D4D;
/*
	font-family: "Fette_Mikado", "Quiet_Evening", "Gismonda", "Zeldom_Zen", "Chemy_Retro", "Valuable", "Times New Roman";
	font-size: 20px;
*/
	font-family: "Zeldom_Zen", "Chemy_Retro", "Quiet_Evening", "Fette_Mikado", "Gismonda", "Valuable", "Times New Roman";
	font-size: 12px;
}
/*** END *** Header CSS ***/