/*** About Page CSS ***/
.about
{
	padding-top: 20px;
	margin-left: 3px;
}

.about_div
{
	width: 100%;
	margin: auto;
	border: ridge 0px #35A7CE;
	text-align: center;
	background-color: #B7E4F1;
	border-radius: 10px;
	text-align: justify;
	min-height: 444px;
}

.author_image
{
	min-height: 404px;
	width: 400px;
	background: url("/images/author.png") center center no-repeat;
	padding: 20px;
	float: left;
}

.author_text
{
	min-height: 404px;
	height: 90%;
/*	width: calc(100% - 460px); */
	width: 100%;
	padding: 10px 0px;
}

.author_text p.text
{
	padding: 10px 30px 10px 10px;
	color: #007C97;
	font-family: "Kristen", "Gunny_Rewritten", "Quiet_Evening", "Zeldom_Zen", "Fette_Mikado", "Gismonda", "Valuable", "Chemy_Retro", "Times New Roman";
	font-size: 24px;
	line-height: 1.1;
}

.author_text p.text:nth-child(2n)
{
	color: #007C97;
}
/*** END *** About Page CSS ***/