/*** IE fix CSS ***/
.intro .text-holder{
	background: url(../img/bg-block-intro.png);
}
.status-block .icons-holder,
.icons-list .icon-holder {
	filter: alpha(opacity=30);
	position:relative;
	width:100%;
	background:#fff;
}
.status-block .icons-holder.active,
.icons-list .icon-holder.active{
	filter: alpha(opacity=100);
}
.profile-image-block .avatar img{
	z-index: -1;
}
.avatar input[type="file"]{
	filter: alpha(opacity=0);
	height:100%;
	font-size: 200px; 
	line-height: 200px;
}
/*** END *** IE fix CSS ***/