/*** Generic presets CSS ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, group, menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}

body
{
	line-height: 1;
}

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

body
{
	margin: 0;
	color: #4D4D4D;
	font: 15px/22px Georgia, "Times New Roman", Times, serif;
	background: #FFF;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	min-width: 1024px;
	background-color: #E7FFF7;
}

* {max-height: 10000px;}

img
{
	border-style: none;
	/*max-width:100%;*/
}

a
{
	color: #00bee1;
	text-decoration: underline;
	outline: none;
}

a:visited
{
	color: #5D5D5D;
}

a:hover
{
	color: #008FA9;
}

a:active
{
	color: #A3E0F0;
}

input, textarea, select
{
	font: 100% Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
	color: #4D4D4D;
	outline: none;
	box-shadow: none;
	padding: 1px;
}

form, fieldset
{
	margin: 0;
	padding: 0;
	border-style: none;
}
/*** END *** Generic presets CSS ***/

/*** All Pages CSS ***/
table, tr, td, th
{
	border: 1px solid blue;
}

td
{
	width: 100px;
	text-align: center;
}

#body
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}

#main
{
/*	height: calc(100% - 63px); */
	min-height: 90%;
	/* height: calc(100% - 89px); */
	width: calc(100% - 5px);
	position: relative;
}

.readonly
{
	background-color: #A1A1A1 !important;
}

.center
{
	text-align: center;
}

.clear:after
{
	content: '';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
/*** END *** All Pages CSS ***/
