		<!-- *** HOME page, INDEX action *** -->
		<main id="main">
			<div id="message_div" class="<?=$this->TVars['message']['type'];?>" style="display: <?=$this->TVars['message']['display'];?>;">
				<?=$this->TVars['message']['message'];?>
			</div>
			<div class="about">
				<form name="city_form" action="" method="post">
					<select name="city">
<?
	foreach ($this->TVars['page']['cities'] as $City)
	{
?>
						<option value="<?=$City;?>" <?=($City === $this->TVars['page']['city']) ? 'selected="selected"' : '';?>><?=$City;?></option>
<?
	}
?>
					</select>
					<button value="submit">Submit</button>
				</form>
				<br />
<?
	if (isset($this->Post['city']))
	{
?>
				<table>
					<thead>
					<tr>
						<th>City</th>
						<th>Temperature</th>
						<th>Wind</th>
						<th>Clouds</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td><?=$this->TVars['page']['city'];?></td>
						<td><?=$this->TVars['page']['weather']['temp'];?></td>
						<td><?=$this->TVars['page']['weather']['wind'];?></td>
						<td><?=$this->TVars['page']['weather']['clouds'];?></td>
					</tr>
					</tbody>
				</table>
				<br /><br />
				Decision:
<?
		if ($this->TVars['page']['weather']['jacket'])
		{
				?>You need a jacket, because <?=$this->TVars['page']['weather']['jacket_reason'];?><?
		}
		else
		{
				?>You don't need a jacket, weather is good enough<?
		}
	}
?>
			</div>
		</main>
		<!-- *** END *** HOME page, INDEX action *** -->