<!DOCTYPE HTML>
<html>
<head>
	<title>Test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="<?=PATH_CSS;?>fonts.css" />
	<link rel="stylesheet" type="text/css" href="<?=PATH_CSS;?>style.css" />
	<link rel="stylesheet" type="text/css" href="<?=PATH_CSS;?>header.css" />
	<link rel="stylesheet" type="text/css" href="<?=PATH_CSS;?>footer.css" />
<?
	if (file_exists(APP_ROOT.'public/css/'.$this->Controller.'.css'))
	{
		?><link rel="stylesheet" type="text/css" href="<?=PATH_CSS.$this->Controller;?>.css" /><?
	}
?>
	<script type="text/javascript">
		BaseURL = '<?=URL_DOMAIN;?>';
		DocsURL = '<?=PATH_DOCS;?>';
		CurrentURL = BaseURL + '<?=$this->Controller;?>/';
	</script>
	<script type="text/javascript" src="<?=PATH_JS;?>jquery.js"></script>
	<script type="text/javascript" src="<?=PATH_JS;?>main.js"></script>
<?
	if (file_exists(APP_ROOT.'public/js/'.$this->Controller.'.js'))
	{
		?><script type="text/javascript" src="<?=PATH_JS.$this->Controller;?>.js"></script><?
	}
?>
</head>
<body>
	<div id="body">
		<!-- *** MAIN HEADER *** -->
		<!-- *** END *** MAIN HEADER *** -->